{% extends 'base.html.twig' %}


{% block body %}
<h1 class="text-center user-home ">Trouvez le job de vos rêves</h1>
{{include('include/_navbar.html.twig')}}
<h2 class="m-3">
	{{joblist|length}}
	annonces trouvées</h2>
<table class="table mt-5">
	<thead class="thead">
		<tr>
			<th class="thead-tr" scope="col">{{pagination|length}}
				annonces</th>
			<th scope="col">Localisation</th>
			<th scope="col">Type de contrat</th>
			<th scope="col">Lien vers l'annonce</th>
		</tr>
	</thead>
	{% for job in pagination %}
		<tr {% if loop.index is odd %} class="color" {% endif %}>
			<tbody></tbody>
		</tr>
		<tr>
			<td>{{ job.title }}</td>
			<td>{{ job.adress }}</td>
			<td>{{ job.contractType }}</td>
			<td>
				<a href="{{job.url}}">{{job.url}}</a>
			</td>
			<td>
				{% for user in job.user %}

							<a href="{{path('job_fav', {id:job.id})}}" id="update-button" class=" d-flex justify-content-center btn btn-primary col-2" style="background-color:green; border:none">
							<i class="fab fa-gratipay"></i>
						</a>
				{% endfor %}
							<a href="{{path('job_fav', {id:job.id})}}" id="update-button" class=" d-flex justify-content-center btn btn-primary col-2" style="background-color:#BEEDFF; border:none">
					<i class="fab fa-gratipay"></i>
				</a>
			</td>
		</tr>
	</td>
</tr></tbody>{% endfor %}</table>{# display navigation #}<div class="navigation d-flex justify-content-center">{{ knp_pagination_render(pagination) }}</div>{% endblock %}
