{% extends 'base.html.twig' %}


{% block body %}
	<h1 class="text-center user-home ">Trouvez le jo de vos rêves</h1>

	{{include('include/_navbar.html.twig')}}
	<div class="card m-3" style="max-width: 540px;">
		<div class="row no-gutters">
			<div class="col-md-4 d-flex">
				<img src="{{ asset('uploads/pictures/' ~ user.profilPicture) }}" class="card-img align-self-center" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-center">Mon profil</h5>
					<ul>
          <li class="list-group-item">Email : {{user.email}}</li>
          <li class="list-group-item">Date de naissance : {{user.birthdate|date('d-m-Y')}}</li>
          <li class="list-group-item">Job recherché : {{user.jobLove}}</li>
          </ul>
					<a href="#" id="upload-button" class="text-center btn btn-primary">Changer de photo de profil</a>
					<div id="upload-image" class="d-none">
						{{ form(formView) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
		<script>
			console.log('test')
$("#upload-button").click(function () {
$("#upload-image").addClass("d-block");
$("#upload-button").addClass("d-none")
});
$(document).on('keyup',function(evt) {
    if (evt.keyCode == 27) {
      $("#upload-image").removeClass("d-block");
$("#upload-button").removeClass("d-none");
    }
});
		</script>
	{% endblock %}
